@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Pacifico&family=Sedgwick+Ave&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.4s;
}
:root {
  --boos-color: darkred;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: lightgray;
}
header nav {
  flex-grow: 2;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

header nav a {
text-decoration: none;
color: darkred;
font-weight: 500;
font-size: 1rem;
}

.logo {
flex-grow: 1;
}

.logo :first-child {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 1000;
font-size: 2rem
}

.logo :last-child {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: var(--boos-color);
font-size: 1em;
}
